<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the second of two social to-do apps written in two completely different stacks.
  This app is written in Ruby on Rails using the SQLlite database.
  
  The first app was written in node.js using the MongoDB database.
</p>
