<footer class="footer">
  <small>
    A simple social to-do app. 2016. Collin Bentley.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://xkcd.com/">News</a></li>
    </ul>
  </nav>
</footer>